version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Instalar Railway CLI
          command: npm install -g @railway/cli
      - run:
          name: Autenticarse en Railway
          command: railway login <<< "$RAILWAY_TOKEN"
      - run:
          name: Desplegar a Railway
          command: railway up --service=empty-project-production-282d --detach

workflows:
  deploy_on_main:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - main

