version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Instalar Railway CLI
          command: |
            curl -fsSL https://railway.app/install.sh | bash
            export PATH="$PATH:$HOME/.railway/bin"
      - run:
          name: Autenticar en Railway
          command: |
            echo $RAILWAY_TOKEN | railway login
      - run:
          name: Desplegar a Railway
          command: |
            railway up --service=empty-project-production-282d --detach

workflows:
  deploy-workflow:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - main

